@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { 
    background:rgb(30,30,40); 
}

form { 
  display: block;
  margin: 40px auto; 
  max-width: 500px;
}

h2 {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 8px;
}

.msg-info {
    text-align: center;
    color: white;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form {
    color:white;
    width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:500;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid white;
    border-radius: 5px;
    padding: 13px;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline:0;
    transition: all 0.3s;
  }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  .botao {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:white;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color: black;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  .botao:hover { background:rgb(168, 168, 168); }