.titulo-newsletters {
    color: white;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 img {
    width: 300px;
    height: 200px;
 }

.podcast-container {
    width: 300px;
    height: 500px;
    border: 1px solid white;
    margin-top: 20px;
    display: flex;
}

.podcast-container a {
    text-decoration: none;
}

.podcast-container p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 15px;
}

.podcast-container p:hover {
    opacity: 0.5;
}

.podcast-container h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 15px;
    font-size: 1.1em;
}

.podcast-2 {
    margin-left: 32px;
    border: 1px solid white;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.podcast-3 {
    margin-left: 32px;
    border: 1px solid white;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.podcast-4 {
    margin-left: 32px;
    border: 1px solid white;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}